<div class="d-flex vh-100 m-0 mt-5">
  <div class="d-flex justify-content-center align-items-center flex-column left-side">
    <div class="card shadow-none py-5" style="width: 100%; height: 100%; border: none; border-radius: 0;">
      <div class="card-body">
        <h3 class="card-title text-center mb-2">Register</h3>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="userType" class="form-label">Select User Type</label>
            <select id="userType" formControlName="userType" class="form-select mb-2">
              <option value="CUSTOMER">Customer</option>
              <option value="VENDOR">Vendor</option>
            </select>
          </div>

          <div class="row mb-1">
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Enter your first name">
              </mat-form-field>

              <small
                class="text-danger d-block mb-2"
                *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                style="margin-top: -19px !important;">
                <span *ngIf="registerForm.get('firstName')?.hasError('required')">*First name is required.</span>
                <span *ngIf="registerForm.get('firstName')?.hasError('minlength')">*Enter with at least 5 characters.</span>
              </small>


            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter your last name">
              </mat-form-field>

              <small class="text-danger" *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="text-danger d-block mb-2"
                style="margin-top: -19px !important;">
                <span *ngIf="registerForm.get('lastName')?.hasError('required')">*Last name is required.</span>
              </small>
            </div>
          </div>

          <div class="mb-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Enter your email">
            </mat-form-field>

            <small class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('email')?.hasError('required')">*Email is required.</span>
              <span *ngIf="registerForm.get('email')?.hasError('email')">*Enter a valid email.</span>
            </small>
          </div>

          <div class="mb-1 position-relative">
            <mat-form-field appearance="outline" class="w-100 position-relative">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="Enter your password">

              <button
                type="button"
                mat-icon-button
                (click)="togglePasswordVisibility()"
                class="position-absolute"
                style="top: 10px; right: 10px;">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <small class="text-danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('password')?.hasError('required')">*Password is required.</span>
              <span *ngIf="registerForm.get('password')?.hasError('minlength')">*Enter with at least 6 characters.</span>
            </small>
          </div>

          <div class="mb-1 position-relative">
            <mat-form-field appearance="outline" class="w-100 position-relative">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Enter your password again">

              <button
                type="button"
                mat-icon-button
                (click)="togglePasswordVisibility()"
                class="position-absolute"
                style="top: 10px; right: 10px;">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('confirmPassword')?.hasError('required')">*Confirm password is required.</span>
              <span *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">*Enter with at least 6 characters.</span>
            </small>
          </div>

          <small
            class="text-danger d-block mb-2"
            *ngIf="registerForm.hasError('mismatch') && !registerForm.get('confirmPassword')?.hasError('minlength') && !registerForm.get('confirmPassword')?.hasError('required')"
            style="margin-top: -15px !important;">
              <span *ngIf="registerForm.hasError('mismatch')">
                *Passwords doesn't match each other
              </span>
          </small>


          <div class="mb-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Enter your address">
            </mat-form-field>

            <small class="text-danger" *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('address')?.hasError('required')">*Address is required.</span>
              <span *ngIf="registerForm.get('address')?.hasError('minlength')">*Enter with at least 5 characters.</span>
            </small>
          </div>

          <div class="row mb-1">
            <div class="col-5">
              <select id="country" formControlName="country" class="form-select mb-2 border border-dark" style="height: 54px !important;">
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
              <small class="text-danger" *ngIf="registerForm.get('country')?.invalid && registerForm.get('country')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
                <span *ngIf="registerForm.get('country')?.hasError('required')">*Country is required.</span>
              </small>
            </div>

            <div class="col-7">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Telephone</mat-label>
                <input matInput formControlName="telephone" placeholder="Enter your telephone">
              </mat-form-field>
              <small class="text-danger" *ngIf="registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('telephone')?.hasError('required')">*Telephone is required.</span>
              <span *ngIf="registerForm.get('telephone')?.hasError('minlength')">*Enter with a valid telephone no.</span>
            </small>
            </div>
          </div>

          <div class="mb-1">
            <mat-form-field appearance="outline" class="w-100" *ngIf="registerForm.get('userType')?.value == 'CUSTOMER'">
              <mat-label>NIC Number</mat-label>
              <input matInput formControlName="brOrNICNumber" placeholder="Enter your NIC number">
            </mat-form-field>

            <small class="text-danger" *ngIf="registerForm.get('brOrNICNumber')?.invalid && registerForm.get('brOrNICNumber')?.touched && registerForm.get('userType')?.value == 'CUSTOMER'" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;" >
              <span *ngIf="registerForm.get('brOrNICNumber')?.hasError('required')">*NIC number is required.</span>
              <span *ngIf="registerForm.get('brOrNICNumber')?.hasError('minlength') || registerForm.get('brOrNICNumber')?.hasError('maxlength')">*Enter valid NIC number.</span>
            </small>
          </div>

          <div class="mb-1">
            <mat-form-field appearance="outline" class="w-100" *ngIf="registerForm.get('userType')?.value == 'VENDOR'">
              <mat-label>Business Registration Number</mat-label>
              <input matInput formControlName="brOrNICNumber" placeholder="Enter your BR number">
            </mat-form-field>

            <small class="text-danger" *ngIf="registerForm.get('brOrNICNumber')?.invalid && registerForm.get('brOrNICNumber')?.touched && registerForm.get('userType')?.value == 'VENDOR'" class="text-danger d-block mb-2"
            style="margin-top: -19px !important;">
              <span *ngIf="registerForm.get('brOrNICNumber')?.hasError('required')">*BR number is required.</span>
              <span *ngIf="registerForm.get('brOrNICNumber')?.hasError('minlength') || registerForm.get('brOrNICNumber')?.hasError('maxLength')">*Enter valid BR number.</span>
            </small>
          </div>

          <div class="mb-1">
            <label for="terms" class="form-label">
              <input type="checkbox" id="terms" formControlName="terms" required />
              I agree to the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
            </label>

            <small
              class="text-danger mb-2"
              *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched">
              <span><br/>*User must agree to terms and conditions.</span>
            </small>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Register</button>

          <div class="text-center mb-0 mt-3">or</div>
          <hr class="mt-0" />
          <p>Already have an account? <a href="">Log in</a></p>
        </form>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 overflow-hidden d-none d-lg-block" style="height: 1040px; width: 75%;">
    <img src="../../../assets/register-image.jpg" alt="main-image" class="img-fluid w-100" style="height: 100%; object-fit: cover;">
  </div>
</div>
