.main-nav-bar {
    background: #f1f0f0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 86px;
  }

  
  .image-box {
    width: 120px;
  }
  
  .icon {
    font-size: 44px;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center; /* Center nav links horizontally */
    gap: 20px; /* Add space between links */
    margin: 0;
    margin-left: 30%;
    margin-right: 20%;
  }

  @media (min-width: 144px) and (max-width: 1224px){
    .navbar-nav {
        margin-left: 20%;
        margin-right: 10%;
      }

      

    .image-box{
        height: 70px;
        width: 100px;
    }

    .main-nav-bar {
        height: auto; /* Removes fixed height on mobile */
      }
    
      .navbar-nav {
        flex-direction: column; /* Stack nav links vertically on mobile */
        gap: 10px; /* Add vertical spacing between links */
      }
  
      
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    color: rgb(144, 144, 144);
  }
  
  .navbar-nav .nav-link:hover {
    color: #000000;
    font-weight: bolder;
    
  }
  
  .dropdown-menu {
    min-width: 200px;
  }
  
  .dropdown-menu p {
    margin: 0;
  }

  .sign-up-btn{
    background: #000;
    color: white;
}

.sign-in-btn{
    background: white;
    color: black;
    border: solid 2px;

}

.active{
  color: rgb(0, 0, 0) !important;
  font-weight: bolder !important;
  
}

.sign-up-btn:hover{
  background: #000;
  color: white;
  font-weight: lighter;
}

.sign-in-btn:hover{
  background: white;
  color: black;
  border: solid 2px;
  font-weight: lighter;
}


.without li{
  padding-top: 13px;
}

@media (max-width: 994px) {
    .mobile{
        display: block !important;
    }

    .without li{
      padding-top: 0px;
    }

    .dropdown{
        display: none !important;
    }

    .navbar-nav {
        margin: auto;
    }
}

  .account-bar {
    position: relative;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition: .5s;
    transition: all 0.5s ease-in-out;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 187px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }

  .dropdown-content a {
    color: red;
    text-decoration: none;
    display: block;
    padding: 8px 0;
  }

  .dropdown-content p {
    margin: 0;
    color: grey;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.5s ease-in-out;

  }